
.backGround {
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;


  .modal {
    z-index: 999;
    padding: 20px;
    width: 400px;
    background: #383A38;
    color: white;
    border-radius: 18px;

    .title {
      font-size: 20px;
    }
  }
}
