.serverSidebar {
  width: 300px;
  background-color: #292a28;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .serverName {
    padding-left: 20px;
    font-weight: 700;
    height: 80%;
  }
}



