.serverSidebar {
  width: 250px;
  background-color: #292a28;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .serverName {
    padding-left: 20px;
    font-weight: 700;
  }

}



