.sidebar {
  width: 80px;
  background-color: #2e2f2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.icon {
  font-size: 0.8rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px;
  height: 50px;
  background-color: #626361;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.mainIcon {
  font-size: 0.8rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px;
  height: 50px;
  background-color: #626361;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.line {
  height: 1px;
  width: 50%;
  margin: 0 auto 10px;
  background: #B9BBBE;

}

.addGroup {
  font-size: 1.5rem;
  color: #42B581;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #626361;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: #42B581;
}