body {
  background: #383A38;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: #2E2F2D;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  padding: 30px;
  gap: 30px;

  .title {
    color: white;
    margin: 0;
  }

  .checkBox {
    input {
      margin-right: 10px;
      border-radius: 50px;
    }
    width: 380px;
  }

  .findPW {
    color: #FFFFFF;
  }
}