
.groupName {
  padding: 25px;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  color: white;
}

.menu {
  color: #7A8087;
  margin: 30px 0;
  padding-left: 5px;
  cursor: pointer;
}